<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <div class="middlize-container" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  
  <div class="middlize-container" *ngIf="isError && !isLoading">
    <div class="whole-page-info ion-text-center">
      <p>There was an error fetching departments.</p>
      <ion-button (click)="onFetchDepartments()">Try again</ion-button>
    </div>
  </div>

  <div class="middlize-container" *ngIf="!isLoading && !loadedDepartments?.length && !isError">
      <ion-label class="ion-text-center">
        <h2>No Department(s) available right now.</h2>
        <h2>Please come back later</h2>
      </ion-label>
  </div>

  <div *ngIf="!isLoading && loadedDepartments?.length && !isError">
    <ion-card class="ion-margin-vertical ion-no-margin">
      <ion-card-header>
        <ion-card-title class="ion-text-center">ABSH REQUESTS YOUR HELP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Please take a moment to help us improve your experience at our facility by completing the following customer satisfaction survey.</p>
        <p>Please select the circle corresponding to your response. If you change your mind, just select a different option.</p>
        <p class="ion-padding-top">Click on a department to begin</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list *ngIf="!isLoading && loadedDepartments?.length && !isError">
    <ion-list-header class="ion-no-padding"><h4>Department(s)</h4></ion-list-header>
    <ion-item button *ngFor="let department of loadedDepartments" (click)="navigateToQuestions(department.id)" class="dpt-item">
      <ion-label class="department-label">
        <span>{{ department.name }}</span>
        <span class="spacer"></span>
        <span class="completed-text" *ngIf="department.isComplete">Completed</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>