<ion-header>
  <ion-toolbar>
    <ion-title>Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <div class="middlize-container" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  
  <div class="middlize-container" *ngIf="isError && !isLoading">
    <div class="whole-page-info ion-text-center">
      <h2>Something went wrong</h2>
      <p>A system error or your internet connection might be preventing this page from displaying</p>
      <ion-button (click)="onReload()">Try Again</ion-button>
    </div>
  </div>

  <div class="middlize-container" *ngIf="!isLoading && !loadedDepartments?.length && !isError">
      <ion-label class="ion-text-center">
        <h2>No Department(s) available right now.</h2>
        <h2>Please come back later</h2>
      </ion-label>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col offsetLg="3" sizeLg="6">
        <ion-list *ngIf="!isLoading && loadedDepartments?.length && !isError">
          <ion-list-header class="ion-no-padding"><h2>Departments</h2></ion-list-header>
          <ion-item button *ngFor="let department of loadedDepartments; let i = index;" (click)="navigateToQuestions(department.id)" class="dpt-item">
            <div class="custome-avatar"> {{i + 1}} </div>
            <ion-label class="department-label custome-label">
              <span>{{ department.name }}</span>
              <span class="spacer"></span>
              <span class="completed-text" *ngIf="department.isComplete">Completed</span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>